<header class="header" data-js-header>
 <div class="header__inner container" data-js-header-inner>
  <div class="header__top" data-js-header-top>
   <div class="header__logos">
    <a class="logo" href="index.html" data-tippy-content="На главную">
     <img class="logo__image" src="imgs/logo/logo.svg" width="190" height="35" alt="LADA">
     <span class="visually-hidden">На главную</span>
    </a>
    <a class="partner-logo" href="index.html" data-tippy-content="На главную">
     <img class="partner-logo__image" src="imgs/logo/partner-logo.svg" width="140" height="35" alt="АвтоСеть РФ">
     <img class="partner-logo__anniversary-badge" src="imgs/logo/anniversary-badge.svg" width="60" height="30" alt="20 лет вместе с нами">
     <span class="visually-hidden">На главную</span>      
    </a>
   </div>
   <address class="header__contacts" data-js-header-contacts>
    <a class="header__address" href="https://yandex.ru/maps/-/CPdX6G~E">
    <svg class="header__address-icon icon icon--gps" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="color: #54616C"><use href="#map-pin"/></svg>
     Нижний Тагил, Черноисточинское шоссе, зд. 68, стр. 2
    </a>
    <a class="header__phone" href="tel:+73435478547">+7 (343) 547 85 47</a>
    </address>
    <button class="menu-button visible-tablet" data-js-header-menu-button>
     <span class="menu-button__icon" data-js-header-menu-button-icon>
      <span class="menu-button__line"></span>
      <span class="menu-button__line"></span>
      <span class="menu-button__line"></span>
     </span>
     <span data-js-header-menu-button-text>Открыть меню</span>
    </button>
   </div>
  <div class="header__bottom" data-js-header-bottom>
   <nav class="header__nav">
     <ul class="header__list" data-js-header-list>
      <li class="header__list-item">
       <a class="header__link header__link--is-open" href="#model-line">Модельный ряд</a>
      </li>
      <li class="header__list-item">
       <a class="header__link" href="#credit">Программы кредитования</a>
      </li>
      <li class="header__list-item">
       <a class="header__link" href="#deals">Специальные предложения</a>
      </li>
      <li class="header__list-item">
       <a class="header__link" href="#credit-request">Оформить кредит</a>
      </li>
      <li class="header__list-item">
        <a class="header__link" href="#map">Как нас найти</a>
       </li>
      <li class="header__list-item">
       <a class="header__link" href="#feedback">Тест-драйв</a>
      </li>
    </ul>
   </nav>
  </div>
 </div>
</header>