<footer class="footer">
 <div class="footer__inner container">
  <div class="footer__top">
   <div class="footer__logos">
    <a class="logo" href="index.html" data-tippy-content="На главную">
     <img class="logo__image" src="imgs/logo/logo-white.svg" width="190" height="35" loading="lazy" decoding="async" alt="LADA">
     <span class="visually-hidden">На главную</span>
    </a>
    <a class="footer__partner-logo partner-logo partner-logo--white" href="index.html" data-tippy-content="На главную">
     <img class="partner-logo__image" src="imgs/logo/partner-logo-white.svg" width="140" height="35" loading="lazy" decoding="async" alt="АвтоСеть РФ">
     <img class="partner-logo__anniversary-badge" src="imgs/logo/anniversary-badge-white.svg" width="60" height="30" loading="lazy" decoding="async" alt="20 лет вместе с нами">
     <span class="visually-hidden">На главную</span>      
    </a>
   </div>
   <nav class="footer__nav">
    <ul class="footer__list">
      <li class="footer__list-item">
       <a class="footer__link" href="#model-line">Модельный ряд</a>
      </li>
      <li class="footer__list-item">
       <a class="footer__link" href="#credit">Программы кредитования</a>
      </li>
      <li class="footer__list-item">
       <a class="footer__link" href="#feedback">Тест-драйв</a>
      </li>
     </ul>
     <ul class="footer__list">
      <li class="footer__list-item">
       <a class="footer__link" href="#deals">Специальные предложения</a>
      </li>
      <li class="footer__list-item">
       <a class="footer__link" href="#credit-request">Оформить кредит</a>
      </li>
      <li class="footer__list-item">
       <a class="footer__link" href="#map">Как нас найти</a>
     </li>
    </ul>
   </nav>
   <address class="footer__contacts">
    <a class="footer__address" href="https://yandex.ru/maps/-/CPdX6G~E">
      <svg class="footer__address-icon icon icon--gps" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="color: #E3762B"><use href="#map-pin"/></svg>
     Нижний Тагил, Черноисточинское <br> шоссе, зд. 68, стр. 2
    </a>    
   </address>  
  </div>
  <div class="footer__main">
   <p class="footer__copyright">&copy; 2026 АВТОСЕТЬ.РФ</p>
   <div class="footer__column">
    <a class="footer__phone" href="tel:+73435478547">+7 (343) 547 85 47</a>
    <a class="footer__email" href="mailto:info@lada-nauto.ru">info@lada-nauto.ru</a>
   </div>
  </div>
  <div class="footer__legal">
   <p class="footer__legal-text">Все права защищены. Копирование материалов строго по согласию администрации сайта.</p>
   <nav class="footer__legal-nav">
    <ul class="footer__legal-list">
     <li class="footer__legal-item">
      <a class="footer__legal-link" href="#!">Политика конфиденциальности</a>
     </li>
     <li class="footer__legal-item">
      <a class="footer__legal-link" href="#!">Политика обработки персональных данных</a>
     </li>
    </ul>
   </nav>
  </div>
 </div>
</footer>