@font-face {
  font-family: "LiberationSans-Regular";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("fonts/LiberationSans/LiberationSans-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "LiberationSans-Bold";
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url("fonts/LiberationSans/LiberationSans-Bold.woff2") format("woff2");
}